.experiencias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fondo{
  background: url("../assets/fondo2.jpg");
  
}
.footer {
  background-color: rgb(43, 54, 42);
}
.fuente{
  font-family: 'Kaushan Script', cursive;
}

.tracking-in-expand{animation:tracking-in-expand 2s linear both} @keyframes tracking-in-expand{0%{letter-spacing:-.2em;opacity:0}40%{opacity:.6}100%{opacity:1}}
